@charset "UTF-8";

.mapping {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 984px;
}

#mapping-glass {
    margin: 160px auto;
    width: 948px;
}

#mapping-window {
    float: right;
    height: 127px;
    width: 423px;
}